* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  /* background-color: #074892; */
  background-image: linear-gradient(to right top, #074892, #007bc2, #047a85, #00d07d, #a8eb12);
  
  display: grid;
  place-items: center;
}

.app>h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 65px;
  margin-top: 2rem;
}